* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --bright-green: rgba(70, 252, 73, 1);
  --bright-green-fade: rgba(70, 252, 73, 0.5);
  --pink: rgba(235, 70, 252, 1);

  --header-footer-height: 70px;
  --body-background-color-darkmode: linear-gradient(
    180deg,
    rgba(0, 1, 5, 1) 0%,
    var(--pink)
  );

  --body-background-color-lightmode: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 0%,
    var(--pink)
  );
}

html,
body {
  overflow: hidden;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: var(--body-background-color-lightmode);
}

main {
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
}

section {
  position: relative;
  color: black;
  margin: calc(var(--header-footer-height) + 10px) auto;
  width: 50%;
  min-width: 400px;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}

header,
footer {
  position: fixed;
  width: 100%;
  z-index: 1;
  height: var(--header-footer-height);
}

footer {
  background-color: white;
  bottom: 0;
  min-width: 400px;
}

header {
  text-align: center;
  font-size: 1rem;
  top: 0;
  background-color: white;
  padding: 20px;
  color: var(--bright-green);
}

summary,
button {
  border-radius: 5px;
  background-color: black;
  color: white;
  border: none;
  box-shadow: 3px 3px 4px black;
  cursor: pointer;
  list-style: none;
  padding: 10px;
  width: 150px;
  margin: auto;
}
