.footer-nav {
  cursor: pointer;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-around;
  align-items: center;
}

.footer-nav__link {
  width: 100%;
  height: 100%;
  background-color: var(--bright-green);
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-nav__link:hover {
  background-color: var(--bright-green-fade);
}

.footer-nav__image {
  width: 30px;
  height: 30px;
  transition: 150ms ease-in;
}

.footer-nav__image:hover {
  transform: scale(1.3);
}
