.profile-card {
  position: relative;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
  background-color: white;
  padding: 30px;
  border: 1px solid black;
  border-radius: 10px;
}

input {
  width: 100px;
}

.profile-card__img {
  border-radius: 50px;
}

.profile-card__aboutme {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}
.profile-card__aboutme > div {
  flex: 1 1 0;
}
