form {
  position: relative;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  background-color: white;
  padding: 30px;
  width: 100%;
  border-radius: 10px;
}
